<div class="container-login d-flex justify-content-center align-items-center">
  
  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="form-login  d-flex flex-column justify-content-center align-items-center h-75 bg-white">
    <div class="d-flex justify-content-center">
      <img src="../../assets/images/logo.jpg" class="w-75">
    </div>
    <div>
      <!-- Email input -->
      <div class="input-group mt-4">
        <span class="input-group-prepend">
          <div class="input-group-text bg-transparent border-right-0">
            <fa-icon [icon]="faUser" style="font-size: 30px"></fa-icon>
          </div>
        </span>
        <input type="email" class="form-control py-2 border-left-0 border bg-light" placeholder="Correo electrónico" formControlName="email">
      </div>
      <!-- Password input -->
      <div class="input-group mt-4">
        <span class="input-group-prepend">
          <div class="input-group-text bg-transparent border-right-0">
            <fa-icon [icon]="faLock" style="font-size: 30px"></fa-icon>
          </div>
        </span>
        <input type="password" class="form-control py-2 border-left-0 border bg-light" placeholder="Contraseña" formControlName="password">  
      </div>
      <!-- Submit button -->
      <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <button class="btn bg-warning fs-5" type="submit">Ingresar</button>
      </div>
      </div>
  
  </form>
   
</div>
