<p>login works!</p>
<div class="container border rounded shadow-sm p-3 mb-5 bg-white rounded">
    <div class="d-flex justify-content-center">
      <img src="../../assets/logo/burger-logo.jpg" class="w-25 p-3">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="d-flex justify-content-center">
    <div>
      <div>
        <!-- Email input -->
        <div class="input-group mt-5">
          <span class="input-group-prepend">
            <div class="input-group-text bg-transparent border-right-0">
              <fa-icon [icon]="faUser" style="font-size: 35px"></fa-icon>
            </div>
          </span>
          <input type="email" class="form-control py-2 border-left-0 border" placeholder="Correo electrónico" formControlName="email">
        </div>
        <!-- Password input -->
        <div class="input-group mt-5">
          <span class="input-group-prepend">
            <div class="input-group-text bg-transparent border-right-0">
              <fa-icon [icon]="faLock" style="font-size: 35px"></fa-icon>
            </div>
          </span>
          <input type="password" class="form-control py-2 border-left-0 border" placeholder="Contraseña" formControlName="password">  
        </div>
        <!-- Submit button -->
        <div class="d-grid gap-2 col-6 mx-auto mt-5">
          <button class="btn btn-primary" type="submit">Ingresar</button>
        </div>
        </div>
    </div>
    </form>
  </div>
