<app-nav-bar-waiter></app-nav-bar-waiter>
<h2 class="text-cente">PEDIDOS POR ENTREGAR</h2>
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mx-3">
    <div class="col" *ngFor="let order of ordersList">
      <div class="card h-100">
        <div class = "order-title border">
          <h5 class="card-title">Cliente: {{order.client}} </h5>
          <h5 class="card-title">Fecha: {{order.dateEntry| date: 'short'}} </h5>
        </div>
        <div *ngFor="let prod of order.products" class="order-body card-body d-flex justify-content-between border border-2">
          <h6 class="card-title">{{prod.product.name}}</h6>
          <h6 class="card-text">X{{prod.qty}}</h6>
        </div>
        <button (click)="deliverOrder(order._id, 'delivered')" class="btn bg-warning p-3 fs-5 btn-sm">Listo</button>
      </div>
    </div> 
