<app-nav-bar-waiter></app-nav-bar-waiter>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Productos</th>
          <th scope="col">Detalle</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of ordersDeliver;index as i">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{order.client}}</td>
          <td>
            <div *ngFor="let prod of order.products" class="order-body  d-flex justify-content-start">
              <h6>{{prod.product.name}}</h6>
              <h6 class="ms-3">X{{prod.qty}}</h6>
            </div>
          </td>
          <td>{{order.dateEntry| date: 'short'}}</td>
        </tr>
      </tbody>
    </table>
   

