<h2>Mesa N°</h2>
<select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>
<div class="input-group w-75">
    <span class="input-group-text">Cliente</span>
    <input [(ngModel)]="client" type="text" aria-label="First name" class="form-control" placeholder="Nombre del cliente">
  </div>
<div>
    <img>
    <p></p>
</div>
 <app-orders-product [producstOrder]=producstOrder></app-orders-product>
 <div class="d-grid gap-2 col-6 mx-auto">
  <button (click)=sendKitchen() class="btn btn-primary" type="button">Enviar a cocina</button>
</div>
