<div class="sticky-top">
	<nav class="nav-color">
		<ul class="nav d-flex justify-content-between"> 
			<div class= "d-flex p-2">
				<li class="nav-item" >
					<a routerLink= "/home-waiter" routerLinkActive="active" class="nav-link text-white fs-5">
						<fa-icon  [icon] = " faHome" class="m-2" > </fa-icon>Inicio
					</a>
				</li>
				<li class="nav-item">
					<a routerLink= "/kitchen"class="nav-link text-white fs-5" routerLinkActive="active">
						<fa-icon [icon] = "faUtensilSpoon" class="m-2"></fa-icon>Cocina
					</a>
				</li>
				<li class="nav-item">
					<a routerLink= "/orders"class="nav-link text-white fs-5" routerLinkActive="active">
						<fa-icon [icon] = "faUserClck" class="m-2"></fa-icon>Por entregar
					</a>
				</li>
				<li class="nav-item">
					<a routerLink= "/history"class="nav-link text-white fs-5" routerLinkActive="active">
						<fa-icon [icon] = "faClipboardList " class="m-2"></fa-icon>Historial
					</a>
				</li>
			</div>
			<div class = "d-flex p-2">
				<li class="nav-item">
					<a class="nav-link disabled text-white fs-5" href="#" tabindex="-1" aria-disabled="true">{{user}}</a>
				</li>
				<li class="nav-item">
					<a (click)="exit()"  routerLink= "/login" class="nav-link text-white fs-5" routerLinkActive="active">
						<fa-icon  [icon] = " faSignOutAlt " class="m-2"> </fa-icon >Salir
					</a>
				</li>
			</div>
		</ul>
	</nav>	
</div>